{% if name == 'flushpermalink' %}
    <p>{{ t_description|raw }}</p>
    <input type="hidden" name="{{ name }}" value="{{ value }}" />
{% else %}
    <code>{{ t_home|raw }}</code>
    <input type="text" name="{{ name }}" value="{{ value }}" class="regular-text code" />
{% endif %}
