<div class="olz-media-frame media-frame">
    <div class="media-frame-router">
        <div class="media-router">
            {% for i,item in items %}
                {% set active = i == 1 ? ' active' : '' %}
                <a href="#olz-{{ item.id }}" class="media-menu-item{{ active }}">{{ item.name|raw }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="media-frame-content">
        {% for i,item in items %}
            {% set active = i == 1 ? ' active' : '' %}

            <div id="olz-{{ item.id }}" class="media-menu-content{{ active }}">
                {{ item.contents|raw }}
                <br class="olz-clear"/>
            </div>
        {% endfor %}
    </div>
</div>
