<div class="wrap olz-wrap">
    <h1>{{ title|raw }}</h1>

    {% if sections %}
        <!-- Nav tabs block -->
        <h2 class="nav-tab-wrapper wp-clearfix">
            {% for option in sections %}
                {% set active = c_section == option.slug ? ' nav-tab-active' : '' %}
                <a href="{{ option.u_link }}" class="nav-tab{{ active }}">{{ option.title|raw }}</a>
            {% endfor %}
        </h2>
    {% endif %}

    {% if request or error %}
        {% include '@core/components/notification.html.twig' with {'request': request, 'error': error} only %}
    {% endif %}

    {% if description %}
        <p class="olz-description">{{ description|raw }}</p>
    {% endif %}

    <!-- Main block -->
    {% if submit %}
        <form method="post" action="{{ u_action|raw }}" enctype="multipart/form-data" class="olz-form" novalidate="novalidate">
            <input type="hidden" name="updated" id="updated" value="true" />
    {% endif %}

            <table class="form-table">
                <tbody>
                    {% for field in fields %}
                        {% set tpl = '@' ~ field.context ~ '/' ~ field.template %}
                        {% include tpl with field.vars %}
                    {% endfor %}
                </tbody>
            </table>

    {% if submit %}
            <p class="submit">
                <input type="submit" name="submit" id="submit" class="button button-primary" value="{{ t_submit|raw }}" />
            </p>
        </form>
    {% endif %}
</div>
