{% set class = class ? ' ' ~ class : '' %}

<div class="olh-screen-meta olh-field-container">
    <div class="contextual-help-wrap">
        <div class="contextual-help-back"></div>

        <div class="contextual-help-columns">
            <div class="contextual-help-tabs">
                <ul>
                    {% for i,item in items %}
                        {% set active = i == 1 ? ' class="active"' : '' %}

                        <li{{ active|raw }}>
                            <a href="#olh-{{ item.id }}">{{ item.name|raw }}</a>
                        </li>
                    {% endfor %}
                </ul>

                {% if listFooter %}
                    {{ listFooter|raw }}
                {% endif %}
            </div>

            {% if formAction %}
                <form action="{{ formAction|raw }}" method="post" class="contextual-help-tabs-wrap{{ class|raw }}" data-id="{{ id }}">
            {% else %}
                <div class="contextual-help-tabs-wrap{{ class|raw }}" data-id="{{ id }}">
            {% endif %}

                {% for i,item in items %}
                    {% set active = i == 1 ? ' active' : '' %}

                    <div id="olh-{{ item.id }}" class="help-tab-content{{ active }}">
                        {{ item.contents|raw }}
                        <br class="olh-clear"/>
                    </div>
                {% endfor %}

            {% if formAction %}
                </form>
            {% else %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
