{{ get_header() }}

    {% if results.total %}
        <aside class="filter-search">
            <ul>
                {% for type in results.types %}
                    <li>{{ type }} ({{ results.results[type] }})</li>
                {% endfor %}
            </ul>
        </aside>

        <section class="result-search">
            {% for type, type_results in results.results %}
                <div class="row">
                    <h2>{{ "%s (%d)"|format(type, type_results|length) }}</h2>
                </div>

                <div class="row">
                    {% for res in type_results %}
                        {% set score = res.score %}
                        {% set source = res.source %}

                        {% set id = source.id %}
                        {% set title = source.title %}
                        {% set content = source.content %}

                        {% if type == 'category' or type == 'post_tag' %}
                            {% set link = get_term_link(id, type) %}

                            <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                                <!-- Title -->
                                <h3 itemprop="name">{{ title }} ({{ score }})</h3>

                                {% if content %}
                                    <!-- Description -->
                                    <div class="media-content" itemprop="headline">{{ content }}</div>
                                {% endif %}

                                <!-- Read more -->
                                <a href="{{ link }}" title="{{ title }}" itemprop="url">{{ t_see_all }}</a>
                            </article>
                        {% elseif type == 'post' %}
                            {% set excerpt = source.excerpt %}
                            {% set link = get_permalink(id) %}
                            {% set author = {
                                id: source.author,
                                name: get_the_author_meta('display_name', source.author),
                                link: get_author_posts_url(source.author)
                            } %}
                            {% set date = {
                                complete: source.date|date('c'),
                                display: source.date|date('j F Y à H:i')
                            } %}

                            <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
                                <!-- Categories -->
                                <aside class="post-categories" itemprop="keywords">
                                    <ul>
                                        {{ get_the_term_list(id, 'category', '<li>', ',</li><li>', '</li>') }}
                                    </ul>
                                </aside>

                                {% if has_post_thumbnail(id) %}
                                    {% set image = wp_get_attachment_image_src(get_post_thumbnail_id(id), 'thumbnail') %}

                                    <!-- Thumbnail -->
                                    <a href="{{ link }}" title="{{ title }}" class="thumbnail" itemprop="url">
                                        <img src="{{ image.0 }}" alt="" width="{{ image.1 }}" height="{{ image.2 }}" />
                                    </a>
                                {% endif %}

                                <!-- Title -->
                                <h3 itemprop="name">{{ title }} ({{ score }})</h3>

                                <!-- Details -->
                                <span class="media-time">
                                    {{ t_date|format(author.link, author.name, date.complete, date.display) }}
                                </span>

                                <!-- Excerpt -->
                                <div class="media-content" itemprop="headline">{{ excerpt }}</div>

                                <!-- Read more -->
                                <a href="{{ link }}" title="{{ title }}" itemprop="url">{{ t_read_more }}</a>
                            </article>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% else %}
        <section class="result-search">
            <div class="row">
                <p>{{ t_apologies|raw }}</p>
            </div>
        </section>
    {% endif %}

{{ get_footer() }}
