{% extends template_path %}

{% block id %}{{ id }}_text_{{ type }}{% endblock %}
{% block label %}<label for="{{ id }}">{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="olh-field-content text {{ type }}">
        <input type="{{ type }}" name="{{ id }}" id="{{ id }}" value="{{ val|raw }}" {{ attributes|raw }} />

        {% if type == 'range' %}
            <output id="{{ id }}_output">{{ val }}</output>
        {% endif %}
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
